@media screen and (min-width: 1024px) {
  .card article:nth-child(3) {
    transform: translateY(2rem);
  }

  .card article:last-child {
    transform: translateY(4rem);
  }

  .line {
    @apply bg-cyan-500 h-2 w-full absolute;
    top: 50%;
  }
}

@media screen and (min-width: 767px) and (max-width: 820px) {
  .card article:nth-child(2) {
    transform: translateX(-50%);
  }

  .line {
    display: hidden;
  }
}

@media screen and (min-width: 374px) and (max-width: 500px) {
  section h2 {
    margin-top: 2.5rem;
  }

  section .advancedCard {
    margin-bottom: 1.3rem;
  }
}
