.boost {
  background-color: hsl(257, 27%, 26%);
  height: 17.188rem;
}

.boost img {
  height: 17.188rem;
  @apply w-full;
}

.boost .boost-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
